.search-group {
  display: flex;
  line-height: 28px;
  align-items: center;
  max-width: 190px;
}

.input {
  max-width: 200px;
  height: 45px;
  padding-left: 2.5rem;
  border: 0;
  background-color: transparent;
  outline: none;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
  font-family: "Rubik-Regular";
  color: var(--neutral-400);
  font-size: 14px;
  &::placeholder {
  font-family: "Rubik-Regular";
  color: var(--neutral-350);
  font-size: 14px;

}
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  cursor: pointer;
}
